body {
    background-color: white;
}

#associate-list-container {
	height: 450px;
}

.activeListSideNav{
    background-color: #d2d2d2;
}

.filterInput{
    margin-top: 5%;
    height: 30px;
    padding-left: 5px;
}

/* ag-grid */
.mdCheckboxAgGrid{
    margin-top: 12px;
}

.ag-theme-material .ag-row:hover .md-button.smallCommentsButton {
    opacity: 1;
}